<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.foo.apacheshirodemo.mapper.UserMapper">
    <resultMap id="userMap" type="com.foo.apacheshirodemo.model.User">
        <id property="uid" column="uid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>

        <collection property="roles" ofType="com.foo.apacheshirodemo.model.Role">
            <id property="rid" column="rid"></id>

            <result property="rname" column="rname"></result>
            <collection property="permissions" ofType="com.foo.apacheshirodemo.model.Permission">
                <id property="pid" column="pid"></id>
                <result property="name" column="name"></result>
                <result property="url" column="url"></result>
            </collection>
        </collection>

    </resultMap>

    <select id="findByUsername" parameterType="string" resultMap="userMap">
        SELECT u.*,r.*,p.* 
        FROM `user` u 
          INNER JOIN user_role ur on u.uid=ur.uid
          INNER JOIN role r on r.rid=ur.rid
          INNER JOIN permission_role pr on pr.rid=r.rid
          INNER JOIN permission p on pr.pid=p.pid
        WHERE u.username=#{username}
    </select>
</mapper>
